<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
        <meta charset="UTF-8">
        <title>CBEST</title>
        <link rel="stylesheet" href="/static/css/font.css">
        <link rel="stylesheet" href="/static/css/xadmin.css">

        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />


        <script type="text/javascript" src="/static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="/static/js/xadmin.js"></script>

        <!-- 让IE8/9支持媒体查询，从而兼容栅格
        <!--[if lt IE 9]>

            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>

        <![endif] -->
    </head>





    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                            {% for i in newresultsvnbyid %}
                    <div class="layui-form-item">
                        <label for="id" class="layui-form-label">
                            <span class="x-red">*</span>id</label>
                        <div class="layui-input-inline">
                            <input type="text" id="id" class="layui-input" name="name" value={{ i.id }} ></div>
                    <div class="layui-form-item">
                        <label for="id" class="layui-form-label">
                            <span class="x-red">*</span>username</label>
                        <div class="layui-input-inline">
                            <input type="text" id="username" class="layui-input"  name="name" value={{ i.username }} ></div>
                    <div class="layui-form-item">
                        <label for="name" class="layui-form-label">
                            <span class="x-red">*</span>ipinfo</label>
                        <div class="layui-input-inline">
                            <input type="text" id="ipinfo" class="layui-input" name="name" value={{ i.ipinfo }} ></div>
                    <div class="layui-form-item">
                        <label for="insertip" class="layui-form-label">
                            <span class="x-red">*</span>svnuser</label>
                        <div class="layui-input-inline">
                            <input type="text" id="svnuser" class="layui-input" name="insertip" value={{ i.svnuser }} ></div>
                    <div class="layui-form-item">
                        <label for="useport" class="layui-form-label">
                            <span class="x-red">*</span>svnpasswd</label>
                        <div class="layui-input-inline">
                            <input type="text" id="svnpasswd" class="layui-input" name="useport" value={{ i.svnpasswd }}  ></div>

                    <div class="layui-form-item">
                        <label for="username" class="layui-form-label">
                            <span class="x-red">*</span>otherpasswd</label>
                        <div class="layui-input-inline">
                            <input type="text" id="otherpasswd" class="layui-input" name="username" value={{ i.otherpasswd }} ></div>
                    </div>
            </div>
                    <div class="layui-form-item layui-form-text">
                        <label for="notice" class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <textarea id="notice" class="layui-textarea">{{ i.notices }} </textarea>
                        </div>
                    </div>
        </div>
                 {% endfor %}
        <div class="layui-form-item">

            <label for="subupdate" class="layui-form-label"></label>
            <!--
            <button class="layui-btn" lay-filter="add" lay-submit="" id="tijiao" onclick="tijiao()" >增加</button></div>
            !-->
            <button class="layui-btn" id="subupdate" >更新数据</button></div>


        <script type="text/javascript" src="/static/js/jquery-1.9.0.min.js"></script>
         <script>
             $('#subupdate').click(function () {
                 arr = [];
                 var username = $('#username').val();
                var ipinfo =  $('#ipinfo').val();
                var svnuser = $('#svnuser').val();
                var svnpasswd = $('#svnpasswd').val();
                var otherpasswd = $('#otherpasswd').val();
                var notice = $('#notice').val();
                var id = $('#id').val();
                arr.push(username,ipinfo,svnuser,svnpasswd,otherpasswd,notice,id);

                 if(username.length <= 0 ){
                     $('#username').val("请输入姓名");
                     return false;
                 }else if( ipinfo.length <= 0) {
                      $('#ipinfo').html("请输入ip")
                }else{
                //alert('已提交数据');
                $.ajax({
            	url:'/cmdb/svninfoedit/',
            	type:'POST',
                dataType : 'json',
                traditional : true,
            	data:{datasvnlist:arr},
        		success:function(fetch_dic){
            	        $('#username').val();
                        $('#ipinfo').val('');
                        $('#svnuser').val('');
                        $('#svnpasswd').val('');
                        $('#otherpasswd').val('');
                        $('#notice').val('');
                        $('#id').val('');
                        //先得到当前iframe层的索引
                        var index = parent.layer.getFrameIndex(window.name)
                        //console.log(index)
                        parent.layer.close(index);
                         //刷新父页面
                        parent.location.reload();



                        //window.open("http://130.130.86.132:9999/cmdb/order")


        			//var obj = jQuery.parseJSON(fetch_dic);
        			//console.log(fetch_dic);
        			//console.log(obj.msg);
                     //alert(obj.fetch)
                    // console.log(obj.list_mysql_svndir[0]);
        			//console.log('sucess');
        			//console.log(obj.list_mysql_svndir[0]);
        			//$('#list_mysql_svndir').html(obj.list_mysql_svndir[0]);
        		},
        		error:function(){
        			console.log('error')
        		}
            })
            }
                })
         </script>

    </body>

</html>